#filter-box {
    width: 20%;
    height: 82%;
    padding-top: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: white;
    overflow-y: auto;
    padding-bottom: 50px;
    box-sizing: border-box;
}

#filter-box::-webkit-scrollbar {
  width: 1px;
}

#filter-box::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

#filter-header {
    width: 100%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: .6rem;
    box-sizing: border-box;
}

#filter-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#clear-all {
    font-weight: 400;
    font-size: 1.1rem;
    color: #0979b6;
    cursor: pointer;
}

/* fuel styles */
#fuel-toggle {
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-width: 1px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: .5rem;
    background-color: white;
}

.fuel-option {
    display: flex;
    gap: 10px;
}

.fuel-option input {
    accent-color: #00857a;
}

.fuel-option-list {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-5px);
    padding: 0px 5px;

    transition:
        max-height 0.5s ease,
        opacity 0.4s ease,
        transform 0.4s ease;
}

.fuel-option-list.open {
    max-height: 200px; 
    opacity: 1;
    transform: translateY(0);
    margin-bottom: 20px;
}


/* make styles */
#make-toggle {
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-width: 1px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: .5rem;
    background-color: white;
}

.make-option {
    display: flex;
    gap: 10px;
}

.make-option input {
    accent-color: #00857a;
}

.make-option-list {
    max-height: 0;
    overflow-y: auto;
    opacity: 0;
    transform: translateY(-5px);
    padding: 0px 5px;

    transition:
        max-height 0.5s ease,
        opacity 0.4s ease,
        transform 0.4s ease;
}

.make-option-list::-webkit-scrollbar {
  width: 1px;
}

.make-option-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.make-option-list.open {
    max-height: 200px; 
    opacity: 1;
    transform: translateY(0);
    margin-bottom: 20px;
}


/* budget styles */
#budget-toggle {
    width: 100%;
    border: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: .5rem;
    background-color: white; 
}

.budget-option-list {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-5px);
    padding-left: 20px;
    padding-right: 20px;

    transition:
        max-height 0.5s ease,
        opacity 0.4s ease,
        transform 0.4s ease;
}

.budget-option-list.open {
    max-height: 200px; 
    opacity: 1;
    transform: translateY(0);
}

#budget-inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

#budget-inputs input {
    width: 40%;
    height: 20px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #333;
}

#filter-name {
    font-weight: 500;
}